
#boton {
    width: 150px;
    height: 50px;
}

#boton::before {
    content: "Pasa por encima";
}

#boton:active::before {
    content: "¡Hecho!";
}

#boton:hover {
    color: white;
    background-color: green;
}


