* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: lightgreen;
    height: 300px;

    display: flex;
    justify-content: space-around;
    
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: lightpink;
    padding: 10px;
}

.seccion-ppal {
    background-color: lightskyblue;
    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

@media (max-width: 640px) {
    .container {
        display: flex;
        flex-direction: column-reverse;

    }

    .barra-lateral {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    
        padding: 10px;
    }
}